body {
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

img {
  width: 100px;
}

.hero {
  background-image: url(/images/hawaiibeach.jpg);
  background-size: cover;
  height: 720px;
}

h1 {
  background-color: blue;
}
