body {
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.hero {
  background-image: url(/images/hawaiibeach.jpg);
  background-size: cover;
  height: 343px;
}

h1 {
  background-color: #d4a373;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border-radius: 10px;
}

h2 {
  background-color: #ccd5ae;
  width: 750px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
}

.activities {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fefae0;
  height: 378px;
  padding: auto;
}

.guide {
  background-color: #d4a373;
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.guide-img {
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.guide-info {
  margin-top: 00px;
}
